<div class="wt-site div-984 site">
    <h2 class="wt-title tuan-title">雅银推荐：</h2>
    <div class="site-container new-site-container" mon="type=site">
        <div class="wt-linklist site-div">
            <span class="site-span"><a href="http://xm.meituan.com" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=美团网&amp;siteid=6&amp;outsite=1">
                <img src="http://img0.hao123.com/data/99acb8a7578ad86cf594b43402cb52a2" width="14"
                    height="14" class="site-icon">美团网</a></span>
            <span class="site-span"><a href="http://xm.nuomi.com" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=糯米网&amp;siteid=7&amp;outsite=1">
                <img src="http://img6.hao123.com/data/1e6c01067430417eaef6eac6dec46cba" width="14"
                    height="14" class="site-icon">糯米网</a></span>
            <span class="site-span"><a href="http://xiamen.55tuan.com?from=daohang-hao123nywzl"
                target="_blank" title="该网站支持百度帐号一站通登录" mon="#sitename=窝窝团&amp;siteid=32&amp;outsite=1">
                <img src="http://img1.hao123.com/data/2306e77e2b1700be241843612551e530" width="14"
                    height="14" class="site-icon">窝窝团</a></span>
            <span class="site-span"><a href="http://www.gaopeng.com/?us=baidulink_g" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=高朋团购&amp;siteid=97&amp;outsite=1">
                <img src="http://img1.hao123.com/data/95016c4a18b3e367b86aa52033267b45" width="14"
                    height="14" class="site-icon">高朋团购</a></span>
            <span class="site-span"><a href="http://t.dianping.com/redirect?utm_source=tuan_baidu&amp;amp;cityname=xiamen"
                target="_blank" title="该网站支持百度帐号一站通登录" mon="#sitename=大众点评&amp;siteid=8&amp;outsite=1">
                <img src="http://img3.hao123.com/data/6cba3b4c526a3590a2a29bae0e7176b9" width="14"
                    height="14" class="site-icon">大众点评</a></span>
            <span class="site-span"><a href="http://xiamen.lashou.com/" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=拉手网&amp;siteid=5&amp;outsite=1">
                <img src="http://img.hao123.com/data/03ec357ce552a2986ef286d3de30f548" width="14"
                    height="14" class="site-icon">拉手网</a></span>
            <span class="site-span"><a href="http://www.jumei.com/?referer=hao123_tg_api" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=聚美优品&amp;siteid=19&amp;outsite=1">
                <img src="http://img0.hao123.com/data/61a5fd5fe5e3308c06d57b45da51b0fd" width="14"
                    height="14" class="site-icon">聚美优品</a></span>
            <span class="site-span"><a href="http://t.58.com/xm" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=58团购&amp;siteid=10&amp;outsite=1">
                <img src="http://img0.hao123.com/data/838ac537d8cc251b11b1f6103fac51a0" width="14"
                    height="14" class="site-icon">58团购</a></span>
            <span class="site-span"><a href="http://www.didatuan.com" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=嘀嗒团&amp;siteid=11&amp;outsite=1">
                <img src="http://img.hao123.com/data/d544a4b3f981b47a788fed448c8f710d" width="14"
                    height="14" class="site-icon">嘀嗒团</a></span>
            <span class="site-span"><a href="http://tuan.qunar.com" target="_blank" title="该网站支持百度帐号一站通登录"
                mon="#sitename=去哪儿网&amp;siteid=58&amp;outsite=1">
                <img src="http://img5.hao123.com/data/d9a5200fb30e4a544e73c3d5f49b71de" width="14"
                    height="14" class="site-icon">去哪儿网</a></span>
            <span id="othersite-span" class="othersite-span">
                <a id="other-site" class="othersite-a" mon="#content=moresite" href="javascript:void(0)">
                    更多名站<span class="uptip" id="other-site-tip"></span></a>
            </span>
            <div class="clear"></div>
        </div>
        <div id="other-sitelist" class="wt-linklist site-other-list hide">
            <span class="site-span site-span-other"><a href="http://www.go.cn/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=团购王&amp;siteid=63&amp;outsite=1">团购王</a></span>
            <span class="site-span site-span-other"><a href="http://xiamen.manzuo.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=满座网&amp;siteid=14&amp;outsite=1">满座网</a></span>
            <span class="site-span site-span-other"><a href="http://www.juqi.com/xiamen/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=聚齐网&amp;siteid=52&amp;outsite=1">聚齐网</a></span>
            <span class="site-span site-span-other"><a href="http://www.wanzhongtuan.com/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=万众团&amp;siteid=245&amp;outsite=1">万众团</a></span>
            <span class="site-span site-span-other"><a href="http://xiamen.pztuan.com/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=品质团&amp;siteid=142&amp;outsite=1">品质团</a></span>
            <span class="site-span site-span-other"><a href="http://www.mengmai.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=猛买网&amp;siteid=93&amp;outsite=1">猛买网</a></span>
            <span class="site-span site-span-other"><a href="http://www.redutuan.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=热度团&amp;siteid=101&amp;outsite=1">热度团</a></span>
            <span class="site-span site-span-other"><a href="http://www.tuanlego.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=团乐购&amp;siteid=104&amp;outsite=1">团乐购</a></span>
            <span class="site-span site-span-other"><a href="http://www.qinqin.net" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=亲亲网&amp;siteid=308&amp;outsite=1">亲亲网</a></span>
            <span class="site-span site-span-other"><a href="http://www.260tuan.com/city.aspx?ename=xiamen"
                target="_blank" title="该网站支持百度帐号一站通登录" mon="#sitename=260团&amp;siteid=143&amp;outsite=1">
                260团</a></span>
            <span class="site-span site-span-other"><a href="http://xiamen.maidoutuan.com/cps/index/?spread=29"
                target="_blank" title="该网站支持百度帐号一站通登录" mon="#sitename=麦兜团&amp;siteid=89&amp;outsite=1">
                麦兜团</a></span>
            <span class="site-span site-span-other"><a href="http://www.hongxiutuan.net/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=红绣团&amp;siteid=217&amp;outsite=1">红绣团</a></span>
            <span class="site-span site-span-other"><a href="http://tuan.27.cn/xiamen" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=爱丽团&amp;siteid=67&amp;outsite=1">爱丽团</a></span>
            <span class="site-span site-span-other"><a href="http://www.lvye.com/xiamen/" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=绿野团&amp;siteid=299&amp;outsite=1">绿野团</a></span>
            <span class="site-span site-span-other"><a href="http://www.51uutuan.com/xiamen"
                target="_blank" title="该网站支持百度帐号一站通登录" mon="#sitename=优优团&amp;siteid=292&amp;outsite=1">
                优优团</a></span>
            <span class="site-span site-span-other"><a href="http://www.17ya.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=一起呀&amp;siteid=111&amp;outsite=1">一起呀</a></span>
            <span class="site-span site-span-other"><a href="http://www.awotuan.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=阿窝团&amp;siteid=221&amp;outsite=1">阿窝团</a></span>
            <span class="site-span site-span-other"><a href="http://www.tuanweihui.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=团委会&amp;siteid=420&amp;outsite=1">团委会</a></span>
            <span class="site-span site-span-other"><a href="http://www.wkol.cn" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=维客尚品&amp;siteid=410&amp;outsite=1">维客尚品</a></span>
            <span class="site-span site-span-other"><a href="http://www.xilituan.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=犀利团&amp;siteid=131&amp;outsite=1">犀利团</a></span>
            <span class="site-span site-span-other"><a href="http://www.gantuan.com" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=赶团网&amp;siteid=117&amp;outsite=1">赶团网</a></span>
            <span class="site-span site-span-other"><a href="http://www.liketuan.com/xm" target="_blank"
                title="该网站支持百度帐号一站通登录" mon="#sitename=Like团&amp;siteid=40&amp;outsite=1">Like团</a></span>

            <span class="site-span site-span-other"><a href="/allsite.php" target="_blank" mon="#sitename=更多名站">
                其他商家&gt;&gt;</a></span>
            <div class="clear"></div>
        </div>
    </div>
</div>
