<!--layout(_layout)-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <div class="member-box round-all">
                <a>
                    <img src="/images/thumbs/thumbnail－pager－2.jpg" class="member-box-avatar"></a>
                <span>
                    <strong>Administrator</strong><br>
                    <a>John Doe</a><br>
                    <span class="member-box-links"><a href="/dashboard/setting">Settings</a> | <a>Logout</a></span>
                </span>
            </div>
            <div class="sidebar-nav">
                <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li  class="active nav-header">Main</li>
                        <li><a href="javascript:;"><i class="icon-home"></i>Dashboard</a></li>
                        <li><a href="javascript:;"><i class="icon-edit"></i>Shop</a></li>
                        <li><a href="javascript:;"><i class="icon-user"></i>Meals</a></li>
                        <li><a href="javascript:;"><i class="icon-comment"></i>Orders</a></li>
                    </ul>
                </div>
            </div>
            <!--section(sidebar)-->
        </div>
        <div class="span10">
            <!--Body content-->
            <!--body()-->
        </div>
    </div>
</div>
