<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@locals.title</title>
    @locals.render("_head")
</head>
<body>
    <div class="container main">
        <div class="row">
            <!--body()-->
        </div>
    </div>
    @locals.render("_end")
</body>
</html>