<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(locals.title || "Yaryin meal".localize(locals.helper))</title>
    @locals.render("_head")
</head>
<body>
    @locals.render("_topMenu")
    <!--body()-->
    @locals.render("_end")
</body>
</html>
